<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="'NautaH '+ ${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #03045e;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" alt="ETECSA" width="50px"
                                                  class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/buscar">Introducir demandas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Realizar Ofertas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/listado">Oferta por solicitante</a></li>
                            <li><a class="dropdown-item" href="/listaserv">Oferta por servicio</a></li>
                            <li><a class="dropdown-item" href="/listaplants">Oferta por Planta Telefónica/Sitio</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Imprimir oferta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Otros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Chequear disponibilidad en DSLAM</a></li>
                            <li><a class="dropdown-item" href="#">Control de ofertas realizadas</a></li>
                            <li><a class="dropdown-item" href="#">Reportes y estadisticas</a></li>
                        </ul>
                    </li>
                </ul>
                <!--           <form class="d-flex" role="search">
                               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                               <button class="btn btn-outline-success" type="submit">Search</button>
                           </form>   -->
            </div>
        </div>
    </nav>
</header>
<div class="container"></div>
<br>

<footer th:fragment="footer" >
    <div class="bg-light text-center p-3">
        <P class="small">Copyright &copy; 2023 ETECSA, Todos los derechos reservados</P>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</footer>
</body>
</html>