<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-body-secondary">
<header th:replace="layout/layout :: header"></header>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-secondary" th:text="${titulo}"></h1>
            <div class="card-body">
                <Form th:action="@{/form/guardar}" th:object="${contratosTelef}" method="post">



                    <button type="submit">Guardar</button>
                </Form>

            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>