<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body class="bg-body-secondary">
<header th:replace="~{layout/layout :: header}"></header>
<br>
<div class="container">
    <div class="row">
        <div class="col-lgl6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Solicitar Nauta</h1>
            <div class="card-body">
                <form th:action="@{/guardar}" th:object="${contratosTelef}" method="post">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" name="id" th:field="*{id}" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Servicio</label>
                        <input type="text" name="servicio" th:field="*{servicio}" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>ED</label>
                        <input type="text" name="ed" th:field="*{ed}" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" th:field="*{nombre}" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" name="direccion" th:field="*{direccion}" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Centro de Telecomunicaciones</label>
                        <input type="text" name="centrotelec" th:field="*{centrotelec}" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Oficina comercial</label>
                        <input type="text" name="oficina_comercial" th:field="*{oficina_comercial}" class="form-control"
                               readonly="readonly">
                    </div>
             <!--       <div class="form-group">
                        <label>Tipo de Cliente</label>
                        <input type="text" name="categcli" th:field="*{tcliente}" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Categoria Cliente</label>
                        <input type="text" name="categcli" th:field="*{cat_cliente}" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Categoria</label>
                        <input type="text" name="cat_cliente" th:field="*{categcli}" class="form-control"
                               readonly="readonly">
                    </div> -->
                    <div class="form-group">
                        <label>Planta</label>
                        <input type="text" name="nombpta" th:field="*{nombpta}" class="form-control"
                               readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label>Sitio</label>
                        <input type="text" name="sitio" th:field="*{sitio}" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label>Fecha de entrada</label>
                        <input type="date" name="fecha_entrada" th:field="*{fecha_entrada}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Solicitado por:</label>
                        <input type="text" name="solicitado" th:field="*{solicitado}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Observacion</label>
                        <input type="text" name="observacion" th:field="*{observacion}" class="form-control">
                    </div>
                    <!--      <div class="form-group">
                              <label>Autorizo</label>
                              <input type="date" name="fecha_autorizo" th:field="*{fecha_autorizo}" class="form-control" readonly="readonly">
                          </div>

                    <div class="form-group">
                        <label>Ofertado</label>
                        <input type="checkbox" name="ofertado" th:field="*{ofertado}" readonly="readonly">
                    </div>
                          <div class="form-group">
                              <label>Alta</label>
                              <input type="date" name="fecha_alta" th:field="*{fecha_alta}" class="form-control" readonly="readonly">
                          </div>
                    -->
                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>